.darkMode{
    background-color: darken($grisOscuro, 10);

    h1,
    h2,
    h3,
    h4,
    p{
        color: $gris;
    }



    .contenedor-info{
        border: 2rem;
        background-color: $grisOscuro;
        border: 1px solid $gris;
        color: $negro;
    }
    
    .anuncio, 
    .dark-mode{
        .icono{
            filter: invert(100%);
        }
    }

    
}
