.formulario{
    
    fieldset{
        display: flex;
        flex-direction: column;
    }

    legend{
        color: $grisOscuro;
    }

    label{
        text-transform: uppercase;
        padding-left: 2rem;
    }

    input:not([type="submit"]),
    textarea,
    select{
        padding: 1rem;
        border: 1px solid;
        border-radius: 1rem;
        
    }

    textarea {
        resize: none;
        height: 15rem;
    }

    p{
        font-size: 1.4rem;
        padding-top: 1rem;
    }
}