.no_webp .inicio{
    background-image: url(../img/header.png);
}

.webp .inicio{
    background-image: url(../img/header.webp);
}

.barra{
    @include tablet{
        align-items: flex-end;
        margin: 2rem;
    }
    
}
.dark-mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    @include tablet{
        align-items: flex-end;
    }

    .dark-mode-boton{
        width: 3rem;
        margin: 1rem;
    }
    
   
} 

.header{
    background-color: $grisOscuro;
    padding: 3rem;

    &.inicio{
        background-position: center center;
        background-size: cover; //para que la img tome todo es espacio disponible
        
        .contenido-header{
            @include tablet{
                min-height: 70rem;
            }
        }

    }
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    


    h1 {
        text-align: left;
        color: $blanco;
        font-size: $bold;
        max-width: 68rem;
    }
}