.barra{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;


    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-in-out, opacity 0.5s linear;
    @include tablet{
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a{
        color: $blanco;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;

        @include tablet{
            margin-right: 2rem;

            &:last-of-type{
                margin-right: 0;
                font-size: 1.8rem;
            }
        }
    }
    
}

.barra-menu{
    @include tablet{
        display: none;
    }

    img{
        width: 4rem;
    }
    
}

.mostrar{
    visibility: visible;
    opacity: 1;
}